body {
   background: url("imgs/taking_notes.svg") no-repeat;
   background-position: top 218px left 531px;
}

header {
   width: 760px;
   margin: 20px 20px 30px;
}

main {
   margin: 0 0 0 40px;
   width: 760px;
}

.btn-state {
   display: flex;
   border-top: 1px solid #E2E2E2;
}

.btn-check:hover {
   box-sizing: border-box;
   border: 1px solid rgba(47, 128, 237, 0.5);
}

.container {
   position: relative;
   display: flex;
}

.container img {
   height: 44px;
   width: 174px;
   border-radius: 0px;
}

.search-form {
   display: flex;
   position: relative;
   height: 40px;
   left: 0px;
   top: 0px;
   border-radius: 4px;
   flex-grow: 1;
}

.icon {
   background: url("imgs/Search.svg") no-repeat;
   height: 12px;
   width: 12px;
   left: 25px;
   top: 14px;
   border-radius: 0px;
}

.search-form i {
   position: relative;
}

.search-form input {
   box-sizing: border-box;
   padding-left: 30px;
   height: 40px;
   width: 582px;
   border-radius: 4px;
   background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FEFEFE;
   border: 1px solid #E2E2E2;
   box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}

input.search-task {

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
   opacity: 0.7;
   outline: none;
}

input.search-task:focus {
   border: 2px solid #2F80ED;
   box-shadow: 1px 1px 2px 0 #2F80ED;
}

span {
   width: 175px;
   text-align: center;
}

.state-elem {
   height: 50px;
   width: 175px;
   border: 0px;

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 900;
   font-size: 16px;
   line-height: 19px;
   align-items: center;
   display: flex;
   cursor: pointer;
   background-color: transparent;
   color: #53565A;
   opacity: 0.5;

}

.btn-check:focus {
   box-sizing: border-box;
   box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   background: transparent;
}

.state-elem:focus {
   opacity: 0.9;
   border-top: 5px solid #2F80ED;
   outline: none;
}

.task-input label {
   margin-bottom: 5px;

   font-family: 'Salesforce Sans';
   font-size: 12px;
   line-height: 15px;
   color: #706E6B;
}

.task-input textarea {
   box-sizing: border-box;
   height: 90px;
   width: 759px;
   background: #FFFFFF;
   border: 1px solid #DDDBDA;
   border-radius: 4px;
   padding: 16px 23px;
   outline: none;
}

.task-input textarea:hover {
   box-sizing: border-box;

   border: 1px solid rgba(47, 128, 237, 0.5);
   box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   background: #FFFFFF;
}

.task-input textarea:focus {
   box-sizing: border-box;
   border-radius: 4px;
   background: #FFFFFF;

   border: 1px solid #2F80ED;
   box-shadow: 1px 1px 2px 0 #2F80ED;
}

.task-input button {
   height: 36px;
   width: 191px;
   background: #2F80ED;
   border: #2F80ED;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   letter-spacing: 0.75px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-left: auto;
   float: right;
}

.task-input button:hover {
   box-sizing: border-box;
   border: 1px solid rgba(47, 128, 237, 0.5);
   box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
   background: #2F80ED;
   opacity: 0.9;
}

.task {
   height: 109px;
   width: 763px;
   border-radius: 4px;
   box-sizing: border-box;

   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   padding: 16px 23px;
   margin-bottom: 20px;

   background: #FFFFFF;
   box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   color: #53565A;
}

.task:hover {
   border: 1px solid rgba(47, 128, 237, 0.5);
   box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
}

.task1 {
   margin-top: 23px;
   text-decoration-line: line-through;
}

.task2 {
   font-weight: 700;
}

.task2 img {
   height: 20px;
   width: 20px;
}

.task5 {
   text-decoration-line: line-through;
}