body {
   background: url("imgs/taking_notes.svg") no-repeat;
   background-position: top 218px left 531px;
}

header {
   width: 760px;
   margin: 20px 40px 30px;
}

main {
   margin: 0 0 0 40px;
   width: 760px;
}

.tabs-menu {
   display: flex;
   border-top: 1px solid #E2E2E2;
}


.container {
   position: relative;
   display: flex;
}

.container img {
   height: 44px;
   width: 174px;
   border-radius: 0px;
}

.search-form {
   display: flex;
   position: relative;
   height: 40px;
   left: 0px;
   top: 0px;
   border-radius: 4px;
   flex-grow: 1;
}

.search-form__btn {
   padding: 0 10px;
   height: 40px;
   background: #2F80ED;
   border: #2F80ED;
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 14px;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor: pointer;
}

.icon {
   background: url("imgs/Search.svg") no-repeat;
   height: 12px;
   width: 12px;
   left: 25px;
   top: 14px;
   border-radius: 0px;
}

.search-form i {
   position: relative;
}

.search-form input {
   box-sizing: border-box;
   padding-left: 30px;
   height: 40px;
   flex-grow: 1;
   border-radius: 4px;
   margin-right: 15px;
   background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FEFEFE;
   border: 1px solid #E2E2E2;
   box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}

input.search-task {

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
   opacity: 0.7;
   outline: none;
}

input.search-task:focus {
   border: 2px solid #2F80ED;
   box-shadow: 1px 1px 2px 0 #2F80ED;
}

.tabs-menu__btn {
   height: 50px;
   width: 175px;
   border: 0px;

   font-family: 'Roboto';
   font-style: normal;
   font-weight: 900;
   font-size: 16px;
   line-height: 19px;
   align-items: center;
   display: flex;
   cursor: pointer;
   background-color: transparent;
   color: #53565A;
   opacity: 0.5;
   outline: none;
   border-top: 5px solid transparent;
   text-align: center;
   display: block;
}

.tabs-menu__btn:hover {
   opacity: 0.9;
   border-top: 5px solid #2F80ED;
}

.tabs-menu__btn_selected {
   opacity: 0.9;
   border-top: 5px solid #2F80ED;
}

.task-input label {
   margin-bottom: 5px;

   font-family: 'Salesforce Sans';
   font-size: 12px;
   line-height: 15px;
   color: #706E6B;
}

.task-input textarea {
   box-sizing: border-box;
   height: 90px;
   width: 759px;
   background: #FFFFFF;
   border: 1px solid #DDDBDA;
   border-radius: 4px;
   padding: 16px 23px;
   outline: none;
}

.task-input textarea:hover {
   box-sizing: border-box;

   border: 1px solid rgba(47, 128, 237, 0.5);
   box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   background: #FFFFFF;
}

.task-input textarea:focus {
   box-sizing: border-box;
   border-radius: 4px;
   background: #FFFFFF;

   border: 1px solid #2F80ED;
   box-shadow: 1px 1px 2px 0 #2F80ED;
}

.task-input button {
   height: 36px;
   width: 191px;
   background: #2F80ED;
   border: #2F80ED;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   letter-spacing: 0.75px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-left: auto;
   float: right;

   margin-bottom: 20px;
}

.task-input button:hover {
   box-sizing: border-box;
   border: 1px solid rgba(47, 128, 237, 0.5);
   box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
   background: #2F80ED;
   opacity: 0.9;
}

.tasks-item {
   height: 109px;
   width: 763px;
   border-radius: 4px;
   box-sizing: border-box;

   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   padding: 16px 23px;
   margin-bottom: 20px;

   background: #FFFFFF;
   box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   color: #53565A;
   transition-duration: 300ms;
   display: flex;
   justify-content: space-between;
}

.tasks-item:hover {
   filter: drop-shadow(0px 6px 20px rgba(47, 128, 237, 0.75));

}

.tasks-item__text {
   flex-grow: 1;
}

.tasks-item_checked .tasks-item__text {
   text-decoration-line: line-through;
}

.task__task2 {
   font-weight: 700;
}

.task__task2 img {
   height: 20px;
   width: 20px;
}

.tasks-item__btn-delete {
   background: url(imgs/delete.svg) no-repeat center;
   height: 40px;
   width: 40px;
   border-radius: 100%;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin-left: 20px;

}

.tasks-item__btn-delete:hover {
   transition-duration: 0.3s;
}

.tasks-item__btn-marker {
   border-radius: 25px;
   width: 183px;
   height: 36px;
   background: #1ac97d;
   border: #1ac97d;
   outline: none;
   color: #FFFFFF;

}

.tasks-item__star {
   background: url(imgs/star_border.svg) no-repeat center;
   height: 20px;
   width: 20px;
   margin-right: 4px;
   outline: none;
}

/* 
.tasks-item__btn-marker_imp {
   border-radius: 25px;
   width: 183px;
   height: 36px;
   background: rgba(255, 255, 255, 0.08);
   border: #1ac97d;
   outline: none;
} */